* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper {
        background: rgb(216, 226, 216)
}
.site-header {
    background: rgba(240, 73, 8, 0.8);
    padding: 1.5em 2em;
}
.site-nav {
    font-family: Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    color: rgb(44, 44, 189);
    font-weight: 1000;
    font-size: large;
}
.phone {
    display: none;
}
.desktop {
    display: flex;
    list-style: none;
}
.desktop li {
    padding-right: 1em;
}
.desktop a {
text-decoration: none;
color: rgb(44, 44, 189);
}
.desktop a:hover {
    text-decoration: none;
    color: white;
    }
.welcome {
    position: relative;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    height: 30rem;
}
.welcome img {
    width: 80%;
    height: auto;
}
.welcome h1 {
    width: 75%;
    text-align: center;
    color: white;
    font-size: 50px;
    position: absolute;
    top: 15%;
    text-shadow: 2px 2px grey;
}
.welcome button {
    position: absolute;
    top: 40%;
    border: none;
    color: white;
    padding: 1em 2em;
    background: rgba(240, 73, 8, 0.8);
    border-radius: 5px;
}
.welcome button:hover {
    cursor: pointer;
    position: absolute;
    top: 40%;
    border: 2px solid white;
    color: white;
    padding: 1em 2em;
    background: rgba(240, 73, 8, 0.8);
    border-radius: 5px;
}
@media (max-width: 850px) {
    .desktop {
        display: none;
    }
    .phone {
        display: flex;
        list-style: none;
    }
    .welcome img {
        width: 300px;
        height: 300px;
    }
    .welcome h1 {
        display: flex;
        width: 70%;
        text-align: center;
        color: white;
        font-size: 25px;
        position: absolute;
        top: 10%;
        text-shadow: 2px 2px grey;  
    }
    .desktop2 {
        display: none;
    }
    input {
        display: none;
    }
    #phone:checked + .desktop2 {
        display: block;
    }
}